<!DOCTYPE html>
<html>
<head>
	<title>YBStore - Mua sắm online - Thoả sức lựa chọn</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<link rel="shortcut icon" type="image/png" href="~/assets/client/images/lg.png" />
	<link href="/assets/client/css/bootstrap.css" rel="stylesheet" />
	<link href="/assets/client/css/bootstrap-theme.css" rel="stylesheet" />
	<link href="/assets/client/css/boostrap-social.css" rel="stylesheet" />
	<!--bootstrap slide châm ngôn-->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	<link href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet">

	<link href="/assets/client/css/jquery-ui.css" rel="stylesheet" />
	<link href="/assets/client/css/font-awesome.min.css" rel="stylesheet" />
	<link href="~/assets/fontawesome/css/fontawesome.min.css" rel="stylesheet" />
	<link href="/assets/client/css/slider.css" rel="stylesheet" type="text/css" media="all" />
	<link href="~/assets/client/css/style.css" rel="stylesheet" />
	<link href="~/assets/client/css1/css/fontawesome.min.css" rel="stylesheet" />
	<link href="~/assets/client/phone/phone.css" rel="stylesheet" />
	<link href="~/assets/client/phone/phone1.css" rel="stylesheet" />
	<!-- Latest compiled and minified JavaScript -->
	<script src="/assets/client/js/jquery-1.11.3.min.js"></script>
	<script src="/assets/client/js/jquery-ui.js"></script>
	<script src="/assets/client/js/bootstrap.min.js"></script>
	<script src="~/assets/client/js/JavaScript.js"></script>
	<script type="text/javascript" src="/assets/client/js/move-top.js"></script>
	<script type="text/javascript" src="/assets/client/js/easing.js"></script>
	<script type="text/javascript" src="/assets/client/js/startstop-slider.js"></script>
	<!--slide Châm ngôn-->
	<script src="~/Scripts/jquery-1.11.1.min.js"></script>
	<script>
		$('#myCarousel').carousel({
			interval: 4000
		});
	</script>
</head>
<body>
	<nav class="navbar navbar-expand-sm bg-dark">
		<div class="wrap">
			<div class="header">
				<!--Menu top-->
				<div class="headertop_desc">
					@{Html.RenderAction("TopMenu", "Home");}
				</div>
				<div class="header_top" style="background: #fafaed;">
					<div class="logo">
						<!--logo-->
						<a href="/" ref="nofollow"><img src="~/assets/client/images/logo/icons8-book-100.png" class="img-fluid" width="150" height="150" /></a>
						<!--banner-->
						@*<img src="~/assets/client/images/banner/bannerbook.png" class="img-fluid" alt="Responsive image" width="650" height="175">*@
					</div>
					<!--Gio hang-->
					@{Html.RenderAction("HeaderCart", "Home");}
					<script type="text/javascript">
						function DropDown(el) {
							this.dd = el;
							this.initEvents();
						}
						DropDown.prototype = {
							initEvents: function () {
								var obj = this;

								obj.dd.on('click', function (event) {
									$(this).toggleClass('active');
									event.stopPropagation();
								});
							}
						}

						$(function () {

							var dd = new DropDown($('#dd'));

							$(document).click(function () {

								$('.wrapper-dropdown-2').removeClass('active');
							});

						});

					</script>
					<div class="clear"></div>
				</div>
				<!--Menu chinh-->
				<div class="header_bottom" style="background:#3fbd3e">
					<div class="menu">
						<ul>
							@{Html.RenderAction("MainMenu", "Home");}
						</ul>
					</div>
					<!--Tim kiem-->
					<div class="search_box">
						<form class="form-inline my-2 my-lg-0" action="/tim-kiem" method="get">
							<input type="text" value="Nhập tên sản phẩm" name="keyword" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Search';}">
							<input type="submit" value="">
						</form>
					</div>
					<div class="clear"></div>
				</div>
				<!--Slide-->
				@RenderSection("slide", required: false)

			</div>
			<div class="main">
				@RenderBody()
			</div>
		</div>
	</nav>
	

	<!--Footer-->
	<div class="footer">

		<!-- Your customer chat code -->
		<!--<div class="fb-customerchat" style="margin-bottom:100px"
			 attribution=setup_tool
			 page_id="108132274238380"
			 theme_color="#0084ff"
			 logged_in_greeting="Chào mừng bạn đến với BOOK STORE. Chúng tôi có thể giúp gì cho bạn?"
			 logged_out_greeting="Chào mừng bạn đến với BOOK STORE. Chúng tôi có thể giúp gì cho bạn?">
		</div>
		<script lang="javascript">
            var __vnp = { code: 1089, key: '', secret: '7b268d2234705113d1b734f25a01e35e' };
            (function () {
                var ga = document.createElement('script');
                ga.type = 'text/javascript'; ga.async = true; ga.defer = true;
                ga.src = '//core.vchat.vn/code/tracking.js';
                var s = document.getElementsByTagName('script'); s[0].parentNode.insertBefore(ga, s[0]);
            })();
		</script>-->

		@{Html.RenderAction("Footer", "Home");}
	</div>

	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
		<span class="navbar-toggler-icon"></span>
	</button>
	<script type="text/javascript">
		$(document).ready(function () {
			$().UItoTop({ easingType: 'easeOutQuart' });

		});
	</script>

	<a href="#" id="toTop"><span id="toTopHover"> </span></a>

	<script src="/assets/client/js/controller/baseController.js"></script>
	@RenderSection("jsFooter", required: false)


</body>
</html>


