<link href="~/assets/client/phone/phone.css" rel="stylesheet" />


<script>
	$(document).ready(function () {
		$('.user-support').click(function (event) {
			$('.social-button-content').slideToggle();
		});
	});
</script>
<style>
	#fa {
		background: rgba(71, 88, 245, 1);
	}
</style>
<div class="social-button">
    <div class="social-button-content">
        <a href="tel:0379850845" class="call-icon" rel="nofollow">

            <img src="~/assets/client/images/whatsapp.png" width="40px" height="40px" />
            @*<i class="fa fa-whatsapp" aria-hidden="true"></i>*@
            <div class="animated alo-circle"></div>
            <div class="animated alo-circle-fill "></div>
            <span>Hotline: 0988053016</span>
        </a>
        <a href="sms:0379850845" class="sms">
            <img src="~/assets/client/images/sms.png" id="sms" width="32px" height="32px" />
            @*<i class="fa fa-weixin" aria-hidden="true"></i>*@
            <span>SMS: 0988053016 </span>
        </a>
        <a href="https://www.facebook.com/khanhhung2206/" class="mes">
            <img src="~/assets/client/images/facebook.png" id="fa" width="32px" height="32px" />
            @*<i class="fa fa-facebook-square" aria-hidden="true" id="fa"></i>*@
            <span>Nhắn tin Facebook</span>
        </a>

    </div>

    <a class="user-support" data-original-title>
        <img src="~/assets/client/images/informa.png" width="40px" height="40px" />
        @*<i class="fa fa-user" aria-hidden="true"></i>*@
        <div class="animated alo-circle"></div>
        <div class="animated alo-circle-fill "></div>
    </a>
</div>


@model Models.EF.Footer
@Html.Raw(Model.Content)