@model Models.EF.Contact
@{
	ViewBag.Title = "Liên hệ";
	Layout = "~/Views/Shared/_Layout.cshtml";
	var session = (OnlineShop.Common.UserLogin)Session[OnlineShop.Common.CommonConstants.USER_SESSION];
}
<style>
	#mapCanvas {
		height: 600px;
	}
</style>
@section jsFooter{
	@*<script src="https://maps.googleapis.com/maps/api/js"></script>*@
	<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCTyOoBOu0Ryu4zXvgtGI4h3zy6qCanP90&callback=initMap"
			type="text/javascript"></script>
	<script src="/assets/client/js/controller/contactController.js"></script>
	<script>
			function initMap() {
				var uluru = { lat: 10.802558, lng: 106.714503 };
				var map = new google.maps.Map(document.getElementById('mapCanvas'), {
					zoom: 18,
					center: uluru
				});

				var contentString = '@Html.Raw(Model.Content)';

				var infowindow = new google.maps.InfoWindow({
					content: contentString
				});

				var marker = new google.maps.Marker({
					position: uluru,
					map: map,
					title: 'Địa chỉ'
				});
				marker.addListener('click', function () {
					infowindow.open(map, marker);
				});
			}
			google.maps.event.addDomListener(window, 'load', initMap);
	</script>


}
<style>
	#margin {
		margin-top: 40px;
	}
</style>
<div class="content" style="border-bottom:3px solid green">
	<div class="row">
		<div class="col-md-12">
			<div class="col-md-6">
				<h2>Thông tin liên hệ</h2>
				@Html.Raw(Model.Content)

				<br />
				@if (session == null)
				{
					<p>Để gửi thông tin phản vui lòng đăng nhập <a href="/dang-nhap">tại đây.</a></p>
				}
				else
				{
					<h2>Gửi thông tin phản hồi</h2>
					<form>
						<div class="form-group">
							<span class="label label-primary">Họ tên</span>
							<input type="text" id="txtName" class="form-control" value="@session.UserName" required />
						</div>
						<div class="form-group">
							<span class="label label-primary">Điện thoại</span>
							<input type="text" id="txtMobile" class="form-control" required />
						</div>
						<div class="form-group">
							<span class="label label-primary">Điện chỉ</span>
							<input type="text" id="txtAddress" class="form-control" required />
						</div>
						<div class="form-group">
							<span class="label label-primary">Email</span>
							<input type="text" id="txtEmail" class="form-control" required />
						</div>
						<div class="form-group">
							<span class="label label-primary">Nội dung</span>
							<br />
							<textarea id="txtContent" class="form-control"></textarea>
						</div>
						<button id="btnSend" class="btn btn-warning">Gửi đi</button>
					</form>
				}
			</div>
			<div class="col-md-6">
				<h2>Bản đồ</h2>
				<div class="map" id="mapCanvas"></div>
			</div>
		</div>
	</div>
</div>
<!--Liên hệ-->
<div style="margin-top:30px;">

	<h2 style="font-size:25px;text-align:center">	<a href="/Lien-he">Mọi chi tiết xin liên hệ tại đây</a></h2>
</div>
