@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />


<body>
    <!--banner video-->
    <div id="banner">
        <video width="1025" autoplay>
            <source src="~/assets/client/images/homebanerabout.mp4" type="video/mp4">
        </video>

    </div>
    <h1 class="section-heading text-uppercase" style="font-size:30px; padding:0px; padding-top:15px; text-align:center; color:#111;font-weight:bold;"> Giới thiệu về bookstore </h1>
    <div id="thongtin">
        <ul>
            <li style="float:left; margin-bottom:20px;clear:left;margin-top:30px">
                <img width="300" height="200" style="margin-right:20px;border:2px solid green;float:left; clear:left" src="~/assets/client/images/startup.png" />
                <h2 style="font-size:25px">Khởi đầu</h2>
                <br>
                Chúng ta đang sống trong một thời đại bùng nổ của xã hội với internet do vậy mà website thương mại cũng phát triển theo. Những cửa hàng thời trang thu hút sự quan tâm của nhiều người. Nhưng song song với đó là sự phát triển nhanh chóng của các cửa hàng online, với nhiều ưu điểm và tiện lợi,...
            </li>
            <li style="float:left; margin-bottom:20px;clear:left">
                <img width="300" height="200" style="margin-right:20px;border:2px solid green;float:left;clear:left" src="~/assets/client/images/lg.png" />
                <h2 style="font-size:25px">YBStore ra đời</h2>
                <br>
                Để đáp ứng được nhu cầu hiện tại của khách hàng nên chúng tôi quyết định lập ra trang YBStore. YBStore chuyên cung cấp giày của các thương hiệu lớn như Adidas,Nike...Đảm bảo uy tín chất lượng.
            </li>
            <li style="float:left; margin-bottom:20px;clear:left">
                <img width="300" height="200" style="margin-right:20px;border:2px solid green;float:left;clear:left" src="~/assets/client/images/giaohangnhanh.png" />
                <h2 style="font-size:25px">Ưu điểm</h2>
                <br>
                Trong cuộc sống bận rộn, việc sử dụng thời gian một cách hợp lý là rất cần thiết. Thay vì phải mất công xếp hàng dài để mua một đôi giày yêu thích. Hay chen chúc giữa cái nắng nóng của Sài Thành để săn 1 đôi giày Sale,…  thì giờ đây mọi người có thể ngồi ở nhà, dùng chiếc smartphone của mình để order thứ mình thích qua Internet mà không mất thời gian ra ngoài. Tất nhiên việc mua giày cũng vậy.
            </li>

        </ul>

    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <section>
        <div class="container">
            <div class="text-center">
                <h2 class="section-heading text-uppercase" style="font-size:30px"> thương hiệu hiện đang có mặt tại YB Store</h2>

            </div>
            <br>
            <br>
            <div class="row">
                <div class="col-lg-4 col-sm-6 mb-4">
                    <div class="portfolio-item">
                        <a class="portfolio-link" data-toggle="modal">
                            <img width="500" height="300" src="~/assets/client/images/logonike.jpg" alt="" />
                        </a>
                        <div>
                            <div class="portfolio-caption-heading">NIKE</div>
                            <div class="portfolio-caption-subheading text-muted"></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 mb-4">
                    <div class="portfolio-item">
                        <a class="portfolio-link" data-toggle="modal">
                            <img width="500" height="300" src="~/assets/client/images/logoadidas.png" alt="" />
                        </a>
                        <div>
                            <div class="portfolio-caption-heading">ADIDAS</div>
                            <div class="portfolio-caption-subheading text-muted"></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 mb-4">
                    <div class="portfolio-item">
                        <a class="portfolio-link" data-toggle="modal">
                            <img width="500" height="300" src="~/assets/client/images/logoconverse.png" alt="" />
                        </a>
                        <div>
                            <div class="portfolio-caption-heading">Converse</div>
                            <div class="portfolio-caption-subheading text-muted"></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 mb-4 mb-lg-0">
                    <div class="portfolio-item">
                        <a class="portfolio-link" data-toggle="modal">
                            <img width="500" height="300" src="~/assets/client/images/logobitis.png" alt="" />
                        </a>
                        <div>
                            <div class="portfolio-caption-heading">BITIS</div>
                            <div class="portfolio-caption-subheading text-muted"></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 mb-4 mb-sm-0">
                    <div class="portfolio-item">
                        <a class="portfolio-link" data-toggle="modal">
                            <img width="500" height="300" src="~/assets/client/images/logoconverse.png" alt="" />
                        </a>
                        <div>
                            <div class="portfolio-caption-heading">CONVERSE</div>
                            <div class="portfolio-caption-subheading text-muted"></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="portfolio-item">
                        <a class="portfolio-link" data-toggle="modal">
                            <img width="500" height="300" src="~/assets/client/images/more.png" alt="" />
                        </a>
                        <div>
                            <div class="portfolio-caption-heading">Sản phẩm khác</div>
                            <div class="portfolio-caption-subheading text-muted">Cung cấp một số sản phẩm khác</div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </section>
</body>
<br>
<br>
<br>
<!--fix color-->
<div class="form-group">
    <!--Màu nền-->
    <div class="row">
        <div class="col-md-2">
            <form class="form-horizontal">
                <div class="form-group form-group-sm">
                    <label for="truyen-background" class="col-sm-2 col-md-5 control-label"><span class="label label-default">Màu nền</span></label>
                    <div class="col-sm-5 col-md-7">
                        <select id="movie-background" class="form-group">
                            <option value="#F4F4F4">Xám nhạt</option>
                            <option value="#EAE4D3">Màu sepia</option>
                            <option value="#FFFFE5">Vàng nhạt</option>
                            <option value="#FAFAC8">Vàng đậm</option>
                            <option value="#EFEFAB">Vàng ố</option>
                            <option value="#FFF">Màu trắng</option>
                            <option value="#232323">Màu tối</option>
                        </select>
                    </div>
                </div>
            </form>
        </div>
        <!--Màu chữ-->
        <div class="col-md-2">
            <form class="form-horizontal">
                <div class="form-group form-group-sm">
                    <label for="truyen-background" class="col-sm-2 col-md-5 control-label"><span class="label label-default">Màu chữ</span></label>
                    <div class="col-sm-5 col-md-7">
                        <select id="movie-color" class="form-group">
                            <option value="#F4F4F4">Xám nhạt</option>
                            <option value="#EAE4D3">Màu sepia</option>
                            <option value="#FFFFE5">Vàng nhạt</option>
                            <option value="#FAFAC8">Vàng đậm</option>
                            <option value="#EFEFAB">Vàng ố</option>
                            <option value="#FFF">Màu trắng</option>
                            <option value="#232323">Màu tối</option>
                        </select>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<!--Liên hệ-->
<div style="margin-top:30px;">

    <h2 style="font-size:25px;text-align:center">	<a href="/Lien-he">Mọi chi tiết xin liên hệ tại đây</a></h2>
</div>
